/****** General ***********/

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    /* indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur */
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    /*dimmension de l'affichage*/
    width: 1440px;
    height: 1889px;
    padding: 0px 50px 0px 50px;
    box-sizing: border-box;
}

/**********Header***********/
/*-------------------------*/

/* Logo */
header {
    /*- positionnement du menu*/
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

img#logo {
    /*dimesion et positionnement du logo*/
    height: 19px;
    width: 62px;
}

/******Menu******/
a {
    color: black;
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul.menu {
    /*disposition du menu et taille de police*/
    display: flex;
    font-weight: 500;
}

li.hebergements,
li.activites {
    width: 113px;
    height: 35px;
    text-align: center;
}

li.hebergements:hover,
li.activites:hover {
    border-top: 5px solid #0065fc;
    color: #0065fc;
}

/******Corps de page*******/
/*------------------------*/

/***Partie Recherche***/
h1 {
    font-size: 22px;
    font-weight: bold;
}

#titre {
    /*positionnement titre recherche*/
    padding-left: 5px;
    padding-top: 45px;
    margin-bottom: 20px;
    line-height: 40px;
}

/* Icône barre de recherche */
.fa-map-marker-alt {
    font-size: 17px;
    /* Dimensionnement de l'icône "localisation" */
    border: 2px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 15px;
    padding-left: 18px;
    border-radius: 18px 0px 0px 18px;
    height: 50px;
}

/*zone de saisie postionement police saisie*/
form {
    display: flex;
    margin-top: 0;
}

input {
    padding: 15px;
    width: 195px;
    border: 1px solid #f2f2f2;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    outline: none;
    /* Pour supprimer le contour */
}

/* Modification de la police dans le champs de recherche */
::placeholder {
    /*pseudo elets*/
    color: black;
    font-weight: bold;
    font-size: 18px;
    opacity: 1;
    /* pour foncer la couleur de la police dans firefox */
}

/* Mise en forme du bouton rechercher sur ordinateur et tablette */
#bouton_rechercher_desktop_tablette {
    position: relative;
    right: 3px;
    background-color: #0065fc;
    color: white;
    height: 50px;
    width: 132px;
    border: 0px solid #f2f2f2;
    border-radius: 0px 18px 18px 0px;
    padding: 9px 12px 9px 12px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

#bouton_rechercher_mobile {
    display: none;
}



/***Partie Filtres***/
#filtres_info {
    margin-top: 30px;
}

#filtres {
    display: flex;
    /*éléments sur une même ligne.... */
    flex-wrap: wrap;
    /*...avec possibilité de retour à la ligne*/
    font-weight: bold;
    font-size: 18px;
    column-gap: 20px;
    /*espace entre titre et les filtres*/
}

h2 {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

#titre_filtres {
    padding-top: 13px;
}

#filtres_categories {
    /*positionnement des filtres en lignes*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aspect_filtres {
    border: 3px solid #f2f2f2;
    border-radius: 30px;
    padding: 11px;
    padding-right: 15px;
    padding-left: 35px;
    margin-right: 12px;
    font-size: 15px;
}

.aspect_filtres:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.icone_filtres {
    width: 47px;
    height: 47px;
    font-size: 20px;
    background-color: #11ffee00;
    border-radius: 50%;
    padding: 14px;
    position: absolute;
    /* pour positionner le disque icône au bon endroit */
    margin-left: -36px;
    margin-top: -13px;
}

.fa-money-bill-wave {
    padding-left: 10px;
    /* pour recentrer le billet qui est plus large que les autres icônes */
}

.fa-child-reaching {
    padding-left: 17px;
    /* pour recentrer l'enfant qui est plus fin que les autres icônes */
}

#filtres p {
    padding-left: 10px;
}

/* Partie info */
.fa-info {
    color: #0065fc;
    border: 3px solid #f2f2f2;
    border-radius: 50%;
    font-size: 12px;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
    width: 25px;
    height: 25px;
}

#info {
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: 500;
}

#texte_info {
    padding-top: 4px;
    padding-left: 3px;
    height: 24px;
    font-size: 16px;
}

/****** Card Hebergements And Populaires ***********/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}


.fa-solid {
    color: var(--main-color);
}
.neutral-star {
    color: var(--main-bg-color)
}

/***Hebergements and populaires****/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.section-title {
    font-size: 22px;
}

/***Hebergements****/

#hebergements {
    width: 65%;
}

.hebergement-cards a {
    flex: 30%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.hebergement-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergement-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

#afficher_plus {
    height: 21px;
    font-weight: bold;
    font-size: 18px;
}

/****Populaires****/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Partie Activités */
#activites_ville {
    padding-left: 46px;
    padding-right: 46px;
    margin-top: 2px;
}

#titre_activites_ville {
    padding-top: 50px;
}

#selection_activites {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    height: 460px;
}

.activite_image {
    object-fit: cover;
    /* évite la déformation des images */
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}

.titre_selection_activite {
    font-weight: bold;
    font-size: 16px;
    padding-left: 5%;
    padding-bottom: 40px;
    height: 19px;
    flex-wrap: wrap;
}

.element {
    position: relative;
}

.element a {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
}

.element a:hover {
    box-shadow: 0px 0px 7px #6a6b6b;
}

.element {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* pour aligner le titre en bas */
    width: 22%;
    border-radius: 20px;
    box-shadow: 1px 4px 14px 1px #d7d8d9;
}

.element img {
    height: 87%;
}

/* Partie Footer */
footer {
    background-color: #f2f2f2;
    display: flex;
    padding-left: 15px;
    padding-top: 15px;
    margin-top: 60px;
}

.footer_colonne {
    width: 33%;
    height: auto;
}

h3 {
    margin-bottom: 22px;
    font-size: 20px;
}

footer li {
    margin-bottom: 13px;
    font-size: 17px;
    font-weight: 500;
    /*pour mettre la police entre normal et gras */
}

li.liens_footer:hover a {
    font-weight: 600;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }


    #filtres {
        display: flex;
        flex-direction: column;
    }

  

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) { 

    .main-container {
        padding: 0px 0px 0px 0px;
    }

    /*logo*/

    header {
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }

    /*menu*/
    ul.menu {
        display: flex;
        justify-content: space-between;
        margin-top: 10%;
    }

    li.hebergements,
    li.activites {
        flex: auto;
        width: 100%;
        justify-content: space-around;
        border-bottom: 4px solid #f2f2f2;
    }

   

    li.hebergements:hover,
    li.activites:hover {
        border-top: 0;
        border-bottom: 3px solid #0065fc;
    }

    /*Corps de la page */

    #titre p {
        margin-left: 3%;
    }
    h1 {
        padding-left: 3%;
    }

    #titre  {
        padding-top: 5%;
    }

    #titre_filtres {
        padding-left: 4%;
        margin-bottom: 4%;

    }

    #zone_recherche {
        margin-left: 3%;
    }

    input {
        width: 80%;
        height: 50px;
    }

    /*affichage du bouton loupe pour mobile*/
    #bouton_rechercher_mobile {
        display: flex;
        position: relative;
        right: 15px;
        height: 50px;
        width: 50px;
        background-color: #0065fc;
        color: white;
        border: none;
        border-radius: 16px 16px 16px 16px;
        font-weight: bold;
        font-size: 16px;
        padding: 9px 12px 9px 12px;
        cursor: pointer;
    }

    /*on masque le bouton rechercher*/
    #bouton_rechercher_desktop_tablette {
        display: none;
    }

    /* Dimensionnement de l'icône "loupe" */
    .loupe {
        font-size: 18px;
        color: white;
        padding-top: 7px;
        padding-left: 5px;
    }

    #bouton_rechercher_mobile:hover {
        border: 1px solid #deebff;
        cursor: pointer;
    }

    /* Partie filtres et info */

    #filtres_info {
        margin-top: 20px;
    }

    #filtres p {
        font-size: 92%;
    }

    #filtres_categories {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        column-count: 2;
        height: 120px;
    }

    .aspect_filtres {
        margin-bottom: 1%;
        width: 42%;
        padding-right: 0px;
    }

    /* Partie info */
    #info {
        margin-top: 5%;
        margin-left: 2%;
    }

    #texte_info {
        font-size: 15px;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 0px;
    }

    /* Partie hébergements et populaires */

    .hebergements-and-populaires section {
        padding-top: 8.5%;
        padding: 0px;
        background-color: var(--main-bg-color);
        border-radius: 0%;
        box-sizing: content-box;
    }

    .hebergements-and-populaires {
        width: 100%;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0px;
    }

    /*populaires*/

    .populaires-title {
        padding-top: 2%;
        padding-right: 2%;
        padding-left: 4%;
    }

    .populaires {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0px;
        
    }

    .populaires-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards .card {
        margin-top: 10px;
    }

    .populaires-cards .card-title {
        font-size: 17px;
        padding-top: 0px;
    }

    .populaires-cards a {
        width: 100%;
        margin-bottom: 3%;
        margin-left: 1%;
        padding-right: 3%;
    }

    /* Hébergements*/

    #hebergements {
        width: 100%;
        background-color: white;
    }

    .hebergement-title {
        padding-left: 4%;
        padding-top: 1%;
        margin-top: 1%;
    }

    .hebergement-cards {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
    }

    .hebergement-cards a {
        width: 100%;
        margin-bottom: 0%;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 3%;
    }

    .hebergement-cards img {
        height: 110px;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card-content {
        padding-left: 2%;
    }

    .card-title {
        padding-top: 10px;
        margin-bottom: 5px;
    }

    .card {
        width: auto;
    }

    #afficher_plus {
        margin-top: 10px;
        margin-left: 2%;
    }

    /*Activites*/

    #activites_ville {
        display: flex;
        flex-direction: column;
        padding-right: 3.5%;
        padding-left: 3.5%;
    }

    #titre_activites_ville {
        padding-top: 20%;
    }

    #titre_activites_ville h2 {
        font-size: 23px;
    }

    #selection_activites {
        flex-direction: column;
        justify-content: flex-start;
        height: 900px;
    }

    .titre_selection_activite {
        justify-content: center;
        height: 32%;
        padding-left: 7%;
        padding-top: 5%;
    }

    .element {
        width: auto;
        height: 207px;
        margin-top: 4.5%;
    }

    .element img {
        height: 68%;
    }

    footer {
        flex-direction: column;
        width: auto;
        margin-top: 10%;
    }
    .footer_colonne {
        width: 100%;
}
}
}
